.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;

  .navbar_logo {
    max-width: 100%;
    height: auto;

    img {
      max-width: 100%;
      height: auto;
    }

    @media screen and (max-width: 430px) {
      img {
        width: 100px;
      }
    }

    @media screen and (max-width: 310px) {
      img {
        width: 80px;
      }
    }

    @media screen and (max-width: 290px) {
      img {
        width: 65px;
      }
    }
  }

  .menu {
    display: flex;
    gap: 20px;
  
    span {
      color: #f56c6c;
      text-decoration: none;
    }
  
    &.active {
      text-decoration: underline;
      color: #f56c6c;
    }
  
    @media screen and (max-width: 430px) {
      span {
        text-transform: uppercase;
      }
    }
  
    @media screen and (max-width: 280px) {
      gap: 10px;
  
      span {
        font-size: 10px;
      }
    }
  }
  


}

